* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: -ms-flexbox; /* IE 8 and more */
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.rond {
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("horloge-background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

/* https://mademyday.de/height-equals-width-with-pure-css/ https://stackoverflow.com/a/44189622/15107807 */
.rond::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

#seconde {
    width: 40%;
    height: 1px;
    background-color: black;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
    /*-moz-animation: 60s secondes infinite;
    -webkit-animation: 60s secondes infinite;
    animation: 60s secondes infinite;
    -moz-animation-timing-function: steps(60, end);
    -webkit-animation-timing-function: steps(60, end);
    animation-timing-function: steps(60, end);*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
}

#seconde::before {
    content: '';
    width: 17%;
    height: 1px;
    position: absolute;
    left: -17%;
    background-color: black;
}

#minute {
    width: 35%;
    height: 3px;
    background-color: grey;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
    /*-moz-animation: 3600s minutes infinite;
    -webkit-animation: 3600s minutes infinite;
    animation: 3600s minutes infinite;
    -moz-animation-timing-function: steps(60, end);
    -webkit-animation-timing-function: steps(60, end);
    animation-timing-function: steps(60, end);*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}

#minute::before {
    content: '';
    width: 20%;
    height: 3px;
    position: absolute;
    left: -20%;
    background-color: gray;
}

#heure {
    width: 27%;
    height: 5px;
    background-color: darkgray;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
    /*-moz-animation: 43200s heures infinite linear; /*43200 for 12 hours *//*
    -webkit-animation: 43200s heures infinite linear;
    animation: 43200s heures infinite linear;*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

#heure::before {
    content: '';
    width: 27%;
    height: 5px;
    position: absolute;
    left: -25%;
    background-color: darkgray;
}


@keyframes secondes {
    0% {
        -ms-transform: rotate(-90deg);      /* for IE 9 */
        -moz-transform: rotate(-90deg);     /* for firefox 3.5 - 15 */
        -webkit-transform: rotate(-90deg);  /* for chrome 4 - 35, safari 3.1 - 8, */
        transform: rotate(-90deg);          /* opera 15 - 22, Safari & Chrome for iOs 3.2 - 8.4 */
    }                                       /* and Android 2.1 - 4.4.4 browser */
    100% {                                  
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes minutes {
    0% {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    100% {
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes heures {
    0% {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    100% {
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
